body {
    background-color: rgb(247, 246, 241)!important;
    margin: 2%;
}

h1 {
    text-align: center;
    font-size: 4rem !important;
}

h2 {
    font-size: 3rem !important;
    font-weight: bolder;
}

h3 {
    font-size: 2rem !important;
}

.btn {
    font-weight: bold;
}

.current {
    min-width: auto;
    min-height: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: none !important;

}

.card-text{
    font-size: 2rem !important;
    font-weight: bold;
    text-shadow: 3px 4px 2px rgb(31, 30, 30);
}

.search-button:hover {
    background-color: #ffc107;
}
.forecast {
    width: 100%;
    min-height: fit-content;
}

#forecast p {
    font-size: 1.5rem;
}

#history .btn {
    min-width: fit-content;
}

.card-body img {
    filter: drop-shadow(1px 1px 0 rgb(67, 67, 67)) drop-shadow(-1px -1px 0 rgb(56, 55, 55));
}

.fivedaycard {
    border-radius: 2% !important;
    border: none !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#forecast .card {
    background-color:  rgb(247, 244, 230)!important;
}
